section.about#about
    .container 
        h2.section-title О клубе

        .columns 
            .column
                .about-text 
                    p Солнце, воздух и вода - что это для вас?... острова в теплом море? шашлычки летом? дача у речки? В нашем случае все гораздо круче! Вейкборд-клуб Xstarclub - оазис драйва среди шумного мегаполиса! Согласны, немного пафосно, но если так оно и есть. Хstarclub - это в первую очередь отдых и хорошее настроение! Мы не просто спортсмены, мы тусовщики, которые в теме!
                    p Наш катер - Xstar Mastercraft - один из лучших буксировщиков в мире!
                    p У нашего инструктора прирождённый талант ставить людей на доску. Возраст, вес, пол и политические пристрастия никакого значения не имеют. Знает лучшие ракурсы для фото. Правда есть один минус... он красавчик с чувством юмора, девочки берегите сердца)

            .column
                .about-photo(style="background-image: url(/images/about-photo.jpg)")