section.administrator#contacts
    .container 
        .columns 
            .column
                .section-title Администратор

                .admin-info 
                    .admin-name Алиса Некрасова

                    .admin-detail Я открытый и веселый человек, что позволяет мне быть очень коммуникабельной. Звоните, пишите отвечу на все вопросы.

                    a.admin-phone(href="tel:+79851456565") +7 (985) 145-65-65

                    .socials 
                        a.soc-link.soc-link--insta(href="https://www.instagram.com/xstarclub")
                        a.soc-link.soc-link--vk(href="https://vk.com/xstarclub")
                        a.soc-link.soc-link--wa(href="https://wa.me/79851456565?text=Xstarclub")
                        a.soc-link.soc-link--tlgm(href="https://t.me/xstarclub_chat")

            .column 
                .admin-photo    
                    .photo-wrap(style="background-image:url(/images/admin-photo.jpg)")