section.boats 
    .container.container--wide 
        .slider-boats#slider-boats
            .slide
                .inner-slide
                    h2.section-title Катер XStar Mastercraft

                    .columns 
                        .column
                            .boat-photo
                                img.photo-img(src="../images/boat-slide-1.jpg" alt="катер 1")
                        .column 
                            .about-boat
                                .description Этот спортивный катер является лучшим профессиональным буксировщиком для вейкбординга и воднолыжного спорта. Эта модель катера стала не просто популярным тягачом многих соревнований, включая чемпионат мира, но особенно полюбился спортсменами за идеальную волну при любых условиях.

                                .technicals 
                                    .tech.tech--common 
                                        .name Катер Mastercraft
                                        .lines 
                                            .line Длина: 7 метров
                                            .line Ширина: 2,5 метра

                                    .tech.tech--engine 
                                        .name Мощный двигатель
                                        .lines 
                                            .line 8-ми литровый
                                            .line 490 лс

                                    .tech.tech--music 
                                        .name Акустика Clarion
                                        .lines 
                                            .line 2 усилителя
                                            .line 10 динамиоков 

                                    .tech.tech--comfort 
                                        .name Комфорт
                                        .lines 
                                            .line До 8 человек
                                            .line Теплая печка
            .slide
                .inner-slide
                    h2.section-title Катер XStar Mastercraft

                    .columns 
                        .column
                            .boat-photo
                                img.photo-img(src="../images/boat-slide-2.jpg" alt="катер 1")
                        .column 
                            .about-boat
                                .description Легендарный спортивный буксировщик X-Star от Mastercraft оказал немалое влияние на развитие катеров для вейкбординга и водных лыж. При этом верфь продолжает «звездную» серию и практически каждый год обновляет эту модель. В результате лодка получила современный корпус типа Deck Boats с агрессивными спортивными линиями и ярким дизайном.

                                .technicals 
                                    .tech.tech--common 
                                        .name Катер Mastercraft
                                        .lines 
                                            .line Длина: 7 метров
                                            .line Ширина: 2,5 метра

                                    .tech.tech--engine 
                                        .name Мощный двигатель
                                        .lines 
                                            .line 8-ми литровый
                                            .line 490 лс

                                    .tech.tech--music 
                                        .name Акустика Clairon
                                        .lines 
                                            .line 2 усилителя
                                            .line 10 динамиоков 

                                    .tech.tech--comfort 
                                        .name Комфорт
                                        .lines 
                                            .line До 8 человек
                                            .line Теплая печка
            .slide
                .inner-slide
                    h2.section-title Катер XStar Mastercraft

                    .columns 
                        .column
                            .boat-photo
                                img.photo-img(src="../images/boat-slide-1.jpg" alt="катер 1")
                        .column 
                            .about-boat
                                .description Этот спортивный катер является лучшим профессиональным буксировщиком для вейкбординга и воднолыжного спорта. Эта модель катера стала не просто популярным тягачом многих соревнований, включая чемпионат мира, но особенно полюбился спортсменами за идеальную волну при любых условиях.

                                .technicals 
                                    .tech.tech--common 
                                        .name Катер Mastercraft
                                        .lines 
                                            .line Длина: 7 метров
                                            .line Ширина: 2,5 метра

                                    .tech.tech--engine 
                                        .name Мощный двигатель
                                        .lines 
                                            .line 8-ми литровый
                                            .line 490 лс

                                    .tech.tech--music 
                                        .name Акустика Clairon
                                        .lines 
                                            .line 2 усилителя
                                            .line 10 динамиоков 

                                    .tech.tech--comfort 
                                        .name Комфорт
                                        .lines 
                                            .line До 8 человек
                                            .line Теплая печка