section.certificates
    .container
        .section-title Подарочные сертификаты

    .container.container--wide
        .columns 
            .column 
                .certificate-photo 
                    img.photo-img(src="/images/certificates.jpg" alt="подарочные сертификаты")
            .column 
                .column-title Лучший подарок это впечатления!
                .column-preview 
                    p Каждый наш подарок – это восторг и приключение, которое обязательно запомнится на всю жизнь.

                .certificate-variants 
                    a.variant(href="tel:+79851456565")
                        span.time вейксерфинг
                        span.cost заказать

                    a.variant(href="tel:+79851456565")
                        span.time вейкбординг
                        span.cost заказать

                    a.variant(href="tel:+79851456565")
                        span.time прогулка на катере
                        span.cost заказать

                .rules 
                    p Правила бронирования в выходные:
                    p Из-за высокой загруженности в выходные дни предусмотрена предоплата в размере полной стоимости. Наш менеджер свяжется с вами заранее для подтверждения брони и проведения оплаты (перевод или онлайн оплата). При отмене менее чем за 24 часа не по нашей вине, предоплата не возвращается. При отмене более, чем за 24 часа, оплата возвращается в полном размере.