section.certificates
    .container
        .section-title Подарочные сертификаты

    .container.container--wide
        .columns 
            .column 
                .certificate-photo 
                    img.photo-img(src="../images/certificates.jpg" alt="подарочные сертификаты")
            .column 
                .column-title Цены на 2023 год

                .certificate-variants 
                    .variant 
                        span.time 25 минут
                        span.cost 5 000 Р

                    .variant 
                        span.time 50 минут
                        span.cost 10 000 Р

                    .variant 
                        span.time 100 минут
                        span.cost 20 000 Р

                .rules 
                    p Правила бронирования в выходные:
                    p высокой загруженности в выходные дни предусмотрена предоплата в размере полной стоимости. Наш менеджер свяжется с вами заранее для подтверждения брони и проведения оплаты (перевод или онлайн оплата). При отмене менее чем за 24 часа не по нашей вине, предоплата не возвращается. При отмене более, чем за 24 часа, оплата возвращается в полном размере.