section.costs#cost
    .container 
        .section-title Сколько стоит?

        .cost-table
            .row.row--head
                span.row-header Вейксёрф

                span.row-cell.set-1
                    span.head-text Сёрф 1 сет
                    span.subtext 30 мин.

                span.row-cell.set-2
                    span.head-text Сёрф 2 сет
                    span.subtext 60 мин.

                span.row-cell.set-3
                    span.head-text Сёрф 3 сет
                    span.subtext 90 мин.

            .row.row--weekday
                span.row-header пн-пт
                span.row-cell.set-1 4 500 Р
                span.row-cell.set-2 9 000 Р
                span.row-cell.set-3 13 500 Р

            .row.row--holidays 
                span.row-header сб-вс + праздники
                span.row-cell.set-1 6 000 Р
                span.row-cell.set-2 12 000 Р
                span.row-cell.set-3 18 000 Р

section.costs.coach
    .container 
        .section-title А если с тренером?

        .cost-table
            .row.row--head
                span.row-header Вейксёрф 
                    br
                    | с тренером

                span.row-cell.set-1
                    span.head-text Сёрф 1 сет
                    span.subtext 30 мин.

                span.row-cell.set-2
                    span.head-text Сёрф 2 сет
                    span.subtext 60 мин.

                span.row-cell.set-3
                    span.head-text Сёрф 3 сет
                    span.subtext 90 мин.

            .row.row--weekday
                span.row-header пн-пт
                span.row-cell.set-1 4 500 Р
                span.row-cell.set-2 9 000 Р
                span.row-cell.set-3 13 500 Р

            .row.row--holidays 
                span.row-header сб-вс + праздники
                span.row-cell.set-1 6 000 Р
                span.row-cell.set-2 12 000 Р
                span.row-cell.set-3 18 000 Р