section.costs#cost
    .container 
        .section-title На катере Xstar

        .cost-table
            .row.row--head
                span.row-header
                    span.head-text Вейксёрф
                    span.subtext

                span.row-cell.set-1
                    span.head-text Сёрф 1 сет
                    span.subtext 30 минут

                span.row-cell.set-2
                    span.head-text Сёрф 2 сет
                    span.subtext 60 минут

                span.row-cell.set-3
                    span.head-text Сёрф 3 сет
                    span.subtext 90 минут

            .row.row--weekday
                span.row-header пн-пт
                span.row-cell.set-1 4 500 Р
                span.row-cell.set-2 9 000 Р
                span.row-cell.set-3 13 500 Р

            .row.row--holidays 
                span.row-header сб-вс + праздники
                span.row-cell.set-1 6 000 Р
                span.row-cell.set-2 12 000 Р
                span.row-cell.set-3 18 000 Р

        .cost-table
            .row.row--head.row--oneline
                span.row-header 
                    span.head-text Вейкборд
                    span.subtext только будни

                span.row-cell.set-1
                    span.head-text 4 500 Р
                    span.subtext 30 минут

                span.row-cell.set-2
                    span.head-text 9 000 Р
                    span.subtext 60 минут

                span.row-cell.set-3
                    span.head-text 13 500 P
                    span.subtext 90 минут

        .cost-table
            .row.row--head
                span.row-header
                    span.head-text Аренда катера
                    span.subtext

                span.row-cell.set-1
                    span.head-text 60 минут
                    span.subtext 

                span.row-cell.set-2
                    span.head-text 120 минут
                    span.subtext 

                span.row-cell.set-3
                    span.head-text
                    span.subtext 

            .row.row--weekday
                span.row-header пн-пт
                span.row-cell.set-1 13 200 Р
                span.row-cell.set-2 26 400 Р
                span.row-cell.set-3

            .row.row--holidays 
                span.row-header сб-вс + праздники
                span.row-cell.set-1 14 400 Р
                span.row-cell.set-2 28 800 Р
                span.row-cell.set-3



section.costs
    .container 
        .section-title На катере AXIS
        .cost-table
            .row.row--head
                span.row-header
                    span.head-text Вейксёрф
                    span.subtext

                span.row-cell.set-1
                    span.head-text Сёрф 1 сет
                    span.subtext 30 минут

                span.row-cell.set-2
                    span.head-text Сёрф 2 сет
                    span.subtext 60 минут

                span.row-cell.set-3
                    span.head-text Сёрф 3 сет
                    span.subtext 90 минут

            .row.row--weekday
                span.row-header пн-пт
                span.row-cell.set-1 4 500 Р
                span.row-cell.set-2 9 000 Р
                span.row-cell.set-3 13 500 Р

            .row.row--holidays 
                span.row-header сб-вс + праздники
                span.row-cell.set-1 6 000 Р
                span.row-cell.set-2 12 000 Р
                span.row-cell.set-3 18 000 Р

        .cost-table
            .row.row--head
                span.row-header
                    span.head-text Аренда катера
                    span.subtext

                span.row-cell.set-1
                    span.head-text 60 минут
                    span.subtext 

                span.row-cell.set-2
                    span.head-text 120 минут
                    span.subtext 

                span.row-cell.set-3
                    span.head-text
                    span.subtext 

            .row.row--weekday
                span.row-header пн-пт
                span.row-cell.set-1 13 200 Р
                span.row-cell.set-2 26 400 Р
                span.row-cell.set-3

            .row.row--holidays 
                span.row-header сб-вс + праздники
                span.row-cell.set-1 14 400 Р
                span.row-cell.set-2 28 800 Р
                span.row-cell.set-3
