section.faq 
    .container 
        .section-title Вопрос-ответ

        .faq-questions
            .faq-row 
                .question 
                    span.text Какой купальник лучше надевать?
                    span.collapser
                .answer Рекомендуем слитный, можно еще шорты.

            .faq-row 
                .question 
                    span.text Есть ли где оставить машину?
                    span.collapser
                .answer Да есть стихиная парковка под мостом, или на территории по шлагбаумом.

            .faq-row
                .question 
                    span.text Есть ли кафешка?
                    span.collapser
                .answer На территории ЖК "Алые пауса", в бухте, работает ресторан River club, а также в сезон открывается фуд-трак.

            .faq-row
                .question 
                    span.text Есть ли раздевалка?
                    span.collapser
                .answer Да, у нас есть своя раздевалка, в которой можно посушить волосы, погреться после каталки и переодеться, душа нет.

            .faq-row
                .question 
                    span.text Есть ли у вас снаряжение?
                    span.collapser
                .answer Да у нас есть гидркостюмы и доски и для мальчиков и для девочек, спасательные жилеты.

            .faq-row
                .question 
                    span.text Можно ли катать под свою музыку?
                    span.collapser
                .answer Да, поставим ту музыку, которая вам нравится.

            //- .faq-row
            //-     .question 
            //-         span.text Насколько заранее лучше приезжать?
            //-         span.collapser
            //-     .answer На 15-20 минут, чтобы вы успели переодеться.

            //- .faq-row
            //-     .question 
            //-         span.text Нужно ли брать с собой полотенце?
            //-         span.collapser
            //-     .answer Да, полотенце для личного пользования необходимо взять с собой, пледы на катере есть, согреем ))

            //- .faq-row
            //-     .question 
            //-         span.text У вас есть вывеска? Как вас найти?
            //-         span.collapser
            //-     .answer Вам необходимо пройти мимо шлагбаума и спуститься к набережной (под мостом), наш катер красного цвета с надписью Mastercraft Xstar.
