footer 
    .container
        .logo-row
            .logo 
                img.logo-img(src="/images/logo-wht.svg")
            a.phone(href="tel:+79851456565") +7(985)145-65-65

        .soc-row 
            .socials 
                a.soc-link.soc-link--insta(href="https://www.instagram.com/xstarclub")
                a.soc-link.soc-link--vk(href="https://vk.com/xstarclub")
                a.soc-link.soc-link--wa(href="https://wa.me/79851456565?text=Xstarclub")
                a.soc-link.soc-link--tlgm(href="https://t.me/xstarclub_chat")
            .address Москва, Авиационная улица, 79, корп. 1, стр. 2

        a.flex-btn-order(href="https://b251045.yclients.com/")