footer 
    .container
        .logo-row
            .logo 
                img.logo-img(src="/images/logo-wht.svg")
            a.phone(href="tel:+79851456565") +7(985)145-65-65

        .soc-row 
            .socials 
                a.soc-link(href="https://www.instagram.com/xstarclub")
                    img.soc-icon(src="/images/icon-soc-insta-wht.svg" alt="Xstarclub insta")
                a.soc-link(href="https://vk.com/xstarclub")
                    img.soc-icon(src="/images/icon-soc-vk-wht.svg" alt="Xstarclub VK")
                a.soc-link(href="https://wa.me/79851456565?text=Xstarclub")
                    img.soc-icon(src="/images/icon-soc-wa-wht.svg" alt="Xstarclub whatsupp")
                a.soc-link(href="https://t.me/xstarclub_chat")
                    img.soc-icon(src="/images/icon-soc-tlgm-wht.svg" alt="Xstarclub telegram")
            .address Москва, Авиационная улица, 79, корп. 1, стр. 2