section.promo
    header 
        .container 
            .logo 
                img.logo-img(src="/images/logo.svg")
            ul.nav 
                li.nav-item
                    a.nav-link(href="#") О клубе
                li.nav-item
                    a.nav-link(href="#") Контакты
                li.nav-item
                    a.nav-link(href="#") Наша команда
                li.nav-item
                    a.nav-link(href="#") Цены и услуги
                li.nav-item
                    a.nav-link(href="#") Аренда катера
        
        .slider-promo
            .promo-title Вейксерф клуб
            #slider-promo
                .slide-wrap
                    .slide-inner
                        .slide-photo(style="background-image: url(/images/slide-1.jpg);")
                .slide-wrap
                    .slide-inner
                        .slide-photo(style="background-image: url(/images/slide-2.jpg);")