section.rent#rent
    .container 
        .section-title Аренда катера

        .columns 
            .column
                .rent-options 
                    .rent-option
                        .option-title Корпоратив, встреча с друзьями, романтическая прогулка
                        .option-price Мы готовы предоставить вам лучшие катера в городе, которые отличаются не только высоким уровнем безопасности, но и отменным техническим оснащением, а также комфортабельностью и стильным внешним видом.
                    a.btn-rent(href="https://b251045.yclients.com/") Арендовать
            .column
                .rent-corp-title Аренда катера в будние дни для корпоративов
                .rent-photo
                    img.rent-photo-img(src="../images/rent-photo.jpg" alt="Аренда катера")