section.team
    .container 
        .section-title Наша команда

section.pilots 
    .container
        .slider-pilots#slider-pilots
            .slide
                .columns
                    .column 
                        .section-title Тренеры
                        .trainer
                            .name Алексей Горбатов
                            .detail Инструктор/тренер, пилот с 10 летним стажем. Алексей катает на всем! КМС по виндсерфингу, черный пояс по настройке волны, музыке, такту и созданию нужного настроения чтобы вы катались легко и с огоньком.

                    .column
                        .pilot-photo 
                            img.pilot-img(src="/images/trainer-1.jpg" alt="Алексей Горбатов")
            .slide
                .columns
                    .column 
                        .section-title Тренеры
                        .trainer
                            .name Зимин Николай
                            .detail Мастер спорта, член сборной команды Российской Федерации по водным лыжам, серебряный и бронзовый призер Чемпионата Европы, многократная победительница Чемпионата и Первенства России по трем дисциплинам за катером и электротягой.

                    .column
                        .pilot-photo 
                            img.pilot-img(src="/images/trainer-2.jpg" alt="Алексей Горбатов")
            .slide
                .columns
                    .column 
                        .section-title Тренеры
                        .trainer
                            .name Зимин Николай
                            .detail С 2010 начала кататься на вейкборде, сноуборде. В 2012 2 место на чемпионате России по кабельному вейкборду. В 2013 году 4 место в чемпионате мира в Абу-Даби. С 2017 года тренер по вейксерфингу.

                    .column
                        .pilot-photo 
                            img.pilot-img(src="/images/trainer-3.jpg" alt="Алексей Горбатов")

        .slider-pilots-dots                
        .slider-pilots-arrows

section.trainers#team
    .container 
        .section-title Пилоты

        .columns.columns--trainers
            .column.column--trainer
                .trainer-photo
                    .photo-wrap(style="background-image:url(/images/pilot-1.jpg)")
                .name Алексей Горбатов
                .details Инструктор/тренер, пилот с 10 летним стажем. Алексей катает на всем! КМС по виндсерфингу, черный пояс по настройке волны, музыке, такту и созданию нужного настроения чтобы вы катались легко и с огоньком.

            .column.column--trainer
                .trainer-photo
                    .photo-wrap(style="background-image:url(/images/pilot-2.jpg)")
                .name Олег Горбатов
                .details Мастер спорта, член сборной команды Российской Федерации по водным лыжам, серебряный и бронзовый призер Чемпионата Европы, многократная победительница Чемпионата и Первенства России по трем дисциплинам за катером и электротягой.

            .column.column--trainer
                .trainer-photo
                    .photo-wrap(style="background-image:url(/images/search-pilots.jpg)")
                .name Ищем пилота
                .details Должен иметь качества наставника, уметь управлять катером и эмоциями, обладать железными нервами и стальной выдержкой.
                        br
                        br
                        | Считаешь, что это про тебя? Пиши или звони нам и мы рассмотрим твою кандидатуру!

        //- .set Сёрф 1 сет

        //- .columns.columns--prices 
        //-     .column.column--price 1 500 Р

        //-     .column.column--price 2 500 Р

        //-     .column.column--price 3 500 Р