section.team
    .container 
        .section-title Наша команда

section.pilots 
    .container
        .slider-pilots#slider-pilots
            .slide
                .columns
                    .column 
                        .section-title Пилоты
                        .pilots-names
                            .name.active Алексей Горбатов
                            img.pilot-arrow(src="/images/icon-arrow-pilots.svg")
                            .name Зимин Николай

                        .trainer
                            .name Алексей Горбатов
                            .detail Инструктор/тренер, пилот с 10 летним стажем. Алексей катает на всем! КМС по виндсерфингу, черный пояс по настройке волны, музыке, такту и созданию нужного настроения чтобы вы катались легко и с огоньком.

                    .column
                        .pilot-photo 
                            img.pilot-img(src="../images/pilot-1.jpg" alt="Алексей Горбатов")
            .slide
                .columns
                    .column 
                        .section-title Пилоты
                        .pilots-names 
                            .name Алексей Горбатов
                            img.pilot-arrow.pilot-arrow-left(src="/images/icon-arrow-pilots.svg")
                            .name.active Зимин Николай

                        .trainer
                            .name Зимин Николай
                            .detail Инструктор/тренер, пилот с 10 летним стажем. Алексей катает на всем! КМС по виндсерфингу, черный пояс по настройке волны, музыке, такту и созданию нужного настроения чтобы вы катались легко и с огоньком.

                    .column
                        .pilot-photo 
                            img.pilot-img(src="../images/pilot-2.jpg" alt="Алексей Горбатов")
        .slider-pilots-dots                

section.trainers 
    .container 
        .section-title Тренеры

        .columns 
            .column.column--trainer
                .trainer-photo
                    .photo-wrap(style="background-image:url(/images/trainer-1.jpg)")
                .name Алексей
                    br
                    | Горбатов
                .details Инструктор/тренер, пилот с 10 летним стажем. Алексей катает на всем! КМС по виндсерфингу, черный пояс по настройке волны, музыке, такту и созданию нужного настроения чтобы вы катались легко и с огоньком.

            .column.column--trainer
                .trainer-photo
                    .photo-wrap(style="background-image:url(/images/trainer-2.jpg)")
                .name Олег
                    br
                    | Горбатов
                .details Мастер спорта, член сборной команды Российской Федерации по водным лыжам, серебряный и бронзовый призер Чемпионата Европы, многократная победительница Чемпионата и Первенства России по трем дисциплинам за катером и электротягой.

            .column.column--trainer
                .trainer-photo
                    .photo-wrap(style="background-image:url(/images/trainer-3.jpg)")
                .name Николай
                    br
                    | Горбатов
                .details С 2010 начала кататься на вейкборде, сноуборде. В 2012 2 место на чемпионате России по кабельному вейкборду. В 2013 году 4 место в чемпионате мира в Абу-Даби. С 2017 года тренер по вейксерфингу.
