section.u-nas 
    .container 
        .section-title У нас

        .advantages
            figure.advantage.advantage--big
                img.advantage-photo(src="/images/advantage-1.jpg" alt="advantage-1")
                figcaption.advantage-title.title--geo Удобное расположение и парковка 

            figure.advantage.advantage--big
                img.advantage-photo(src="/images/advantage-2.jpg" alt="advantage-2")
                figcaption.advantage-title.title--emotsii Новые впечатления и адреналин

            figure.advantage.advantage--small
                img.advantage-photo(src="/images/advantage-3.jpg" alt="advantage-2")
                figcaption.advantage-title.title--equipment Снаряжение 

            figure.advantage.advantage--small
                img.advantage-photo(src="/images/advantage-4.jpg" alt="advantage-2")
                figcaption.advantage-title.title--cafe Зона отдыха и ресторан  

            figure.advantage.advantage--small
                img.advantage-photo(src="/images/advantage-5.jpg" alt="advantage-2")
                figcaption.advantage-title.title--profi Профессиональные пилоты и инструктора 