doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1"
		)
		title="title"
		link(rel="stylesheet" href="css/style.min.css")
		script(src='/js/libs.min.js')
		script(src='/js/main.js')

	body
		include ../pug-parts/promo.pug
		include ../pug-parts/about.pug
		include ../pug-parts/u-nas.pug
		include ../pug-parts/boats.pug
		include ../pug-parts/cost.pug
		include ../pug-parts/rent.pug
		include ../pug-parts/certificates.pug
		include ../pug-parts/team.pug
		include ../pug-parts/administrator.pug
		include ../pug-parts/gallery.pug
		include ../pug-parts/faq.pug
		include ../pug-parts/where.pug
		include ../pug-parts/footer.pug