.costs {
    padding: 5.4em 0 10em;
    .container {
        .section-title {
            display: inline-block;
            margin: 0 0 0 3.55em;

            &::after {
                position: absolute;
                display: block;
                content: "";
                height: 0.047em;
                width: 100vw;
                background-color: #cd1719;
                left: -30.45em;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .cost-table {
            display: block;
            width: 100%;
            margin: 6.2em 0 0 0;
            .row {
                padding: 2.2em 1em 1.2em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                // border-bottom: 0.35em solid #333;
                .row-header {
                    margin: 0;
                    width: 100%;
                    flex: none;
                    max-width: 45%;
                    line-height: 1.3;
                    flex-direction: column;
                    display: flex;

                    .head-text {
                        font-size: 3.2em;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    .subtext {
                        font-size: 2em;
                        font-weight: 400;
                        margin: 0.4em 0 0 0;
                    }
                }
                .row-cell {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    max-width: 15%;
                    flex: none;

                    .head-text {
                        font-size: 2.4em;
                        font-weight: 700;
                        margin: 0 0 0.3em 0;
                        text-transform: uppercase;
                    }
                    .subtext {
                        font-size: 2em;
                        font-weight: 400;
                    }
                }
                .row-cell.set-1 {
                    .subtext {
                    }
                }

                .row-cell.set-2 {
                    .subtext {
                    }
                }

                .row-cell.set-2 {
                    .subtext {
                    }
                }
            }
            .row--head {
                margin-bottom: 1.6em;
                border-bottom: 0.35em solid #333;
                color: #cd1719;
                .row-cell {
                    color: #cd1719;
                }
            }
            .row--head.row--oneline {
                .row-cell {
                    color: #333;
                    .head-text {
                        font-size: 3.4em;
                        font-weight: 600;
                        padding: 0;
                    }
                    .subtext {
                    }
                }
            }
            .row--weekday {
                padding: 3.6em 1em 0em 0.8em;

                .row-header {
                    font-size: 2.8em;
                    font-weight: 500;
                }
                .row-cell {
                    font-size: 3.4em;
                    font-weight: 600;
                    padding: 0.1em 0 0 0;

                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    max-width: 15%;
                    flex: none;
                    .head-text {
                    }
                    .subtext {
                    }
                }
                .row-cell.set-1 {
                    .subtext {
                    }
                }

                .row-cell.set-2 {
                    .subtext {
                    }
                }

                .row-cell.set-2 {
                    .subtext {
                    }
                }
            }
            .row--holidays {
                padding: 4.4em 1em 0em 0.8em;
                border: none;

                .row-header {
                    font-size: 2.8em;
                    font-weight: 500;
                }
                .row-cell {
                    font-size: 3.4em;
                    font-weight: 600;
                    padding: 0.1em 0 0 0;
                    .head-text {
                    }
                    .subtext {
                    }
                }
                .row-cell.set-1 {
                    .subtext {
                    }
                }

                .row-cell.set-2 {
                    .subtext {
                    }
                }

                .row-cell.set-2 {
                    .subtext {
                    }
                }
            }
        }
    }
}

.costs.coach {
    .container {
        .cost-table {
            .row--weekday {
                padding: 5em 1em 5em;
            }
        }
    }
}
