.gallery {
    padding: 16em 0 10em 0;
    .container {
        .section-title {
            margin: 0 0 1.25em 3.55em;
            &::after {
                position: absolute;
                display: block;
                content: "";
                height: 0.047em;
                width: 100vw;
                background-color: #cd1719;
                left: -30.45em;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .container.container--wide {
        #gallery {
            display: grid;
            grid-gap: 0;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-auto-rows: 45.5em;
            grid-auto-flow: dense;
            li {
                display: block;
                overflow: hidden;
                writing-mode: horizontal-tb;
                display: flex;
                justify-content: center;
                align-items: center;
                background-size: cover;
                background-position: center top;
                background-repeat: no-repeat;
            }
            .height1 {
                grid-row-end: span 1;
            }
            .height2 {
                grid-row-end: span 2;
            }
            .width1 {
                grid-column-end: span 1;
            }
            .width2 {
                grid-column-end: span 2;
            }
            .width3 {
                grid-column-end: span 3;
            }
            .width4 {
                grid-column-end: span 4;
            }
            .width5 {
                grid-column-end: span 5;
            }
            .width6 {
                grid-column-end: span 6;
            }
            .width7 {
                grid-column-end: span 7;
            }
            .width8 {
                grid-column-end: span 8;
            }
            .width9 {
                grid-column-end: span 9;
            }
            .width10 {
                grid-column-end: span 10;
            }
            .width11 {
                grid-column-end: span 11;
            }
            .width12 {
                grid-column-end: span 12;
            }
        }
    }
}
