.rent {
    padding: 4.8em 0 10em;

    .container {
        .section-title {
            display: inline-block;
            margin: 0 0 0 3.55em;

            &::after {
                position: absolute;
                display: block;
                content: "";
                height: 0.047em;
                width: 100vw;
                background-color: #cd1719;
                left: -30.45em;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .columns {
            padding: 7.5em 0 0 0;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            .column {
                .rent-options {
                    padding: 9.2em 0 0 1.2em;
                    .rent-option {
                        margin: 0 0 4.1em 0;
                        .option-title {
                            font-size: 2.4em;
                            font-weight: 700;
                            width: 100%;
                            max-width: 11.5em;
                            text-transform: uppercase;
                            line-height: 1.3;
                            margin: 0 0 1.2em 0;
                        }
                        .option-price {
                            font-size: 2em;
                            line-height: 1.4;
                            max-width: 16em;
                        }
                    }
                }

                .btn-rent {
                    font-size: 2em;
                    text-transform: uppercase;
                    margin: 0.75em 0 0 -0.15em;
                    padding: 1.5em 5.3em 1.55em 2.5em;
                    display: inline-block;
                    border-left: 0.45em solid #333;
                    color: #fff;
                    background: red;
                    text-decoration: none;
                    transition: all 0.3s linear;
                    cursor: pointer;
                    &::after {
                        position: absolute;
                        display: block;
                        content: "";
                        top: 50%;
                        right: 3.75em;
                        z-index: 10;
                        transform: translateY(-50%);
                        width: 0.6em;
                        height: 1.5em;
                        background-image: url(/images/icon-arrow-btn.svg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    &:hover {
                        background: #333;
                    }
                    &:active {
                        color: #333;
                    }
                }

                .rent-corp-title {
                    font-size: 2em;
                    margin: 0 0 0.8em 0;
                }
                .rent-photo {
                    .rent-photo-img {
                        border-style: none;
                        width: 100%;
                    }
                }
            }

            .column:first-child {
                width: 34.8%;
                flex: none;
            }
            .column:last-child {
                width: 100%;
                flex: 1;
            }
        }
    }
}
