.team {
    padding: 10em 0 7em 0;
    .container {
        .section-title {
            display: inline-block;
            margin: 0.05em 0 0 3.55em;
            &::after {
                position: absolute;
                display: block;
                content: "";
                height: 0.047em;
                width: 100vw;
                background-color: #cd1719;
                left: -30.45em;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.pilots {
    background-color: #f2f3f7;
    padding: 8em 0 10em;
    .container {
        .slider-pilots {
            .columns {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                .column {
                    .section-title {
                        margin: 0.7em 0 0.075em 0.05em;
                    }
                    .pilots-names {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        // padding: 0 13.9em 0 0.8em;
                        padding: 0 9em 0 0.8em;
                        margin: 0 0 5em 0;
                        .name {
                            font-size: 2em;
                        }
                        .name.active {
                            color: red;
                        }
                        .pilot-arrow {
                            width: 1.7em;
                            height: auto;
                        }
                    }
                    .trainer {
                        .name {
                            font-size: 3.2em;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin: 0 0 0.8em 0.3em;
                        }
                        .detail {
                            font-size: 2em;
                            line-height: 1.4;
                            padding: 0 0 0 0.5em;
                        }
                    }
                    .pilot-photo {
                        margin: 1.6em 0 0 0;
                        .pilot-img {
                            max-width: 100%;
                            max-height: 100%;
                            width: auto;
                            height: auto;
                        }
                    }
                }
                .column:first-child {
                    width: 52%;
                    flex: none;
                    padding: 0 18em 0 0;
                }
                .column:last-child {
                    width: 100%;
                    flex: 1;
                    padding: 0 20em 0 0;
                }
            }
        }
        .slider-pilots-dots {
            position: absolute;
            width: 50em;
            z-index: 100500;

            .slick-dots {
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style-type: none;
                li {
                    width: 50%;
                    height: 4px;
                    color: #d3d3d3;

                    button {
                        display: none !important;
                    }
                }
                li.slick-active {
                    color: red;
                }
            }
        }
    }
}

.trainers {
    padding: 10.3em 0 11em;
    .container {
        .section-title {
            margin: 0 0 0 0.15em;
        }

        .columns {
            margin: 7em 0 4em;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            padding: 1em;

            .column.column--trainer {
                width: 33.333333%;
                display: inline-block;
                flex: none;
                border-left: 0.01em solid #333;
                border-bottom: 0.01em solid #333;
                padding: 0 1em 2em 0;

                .trainer-photo {
                    width: 100%;
                    height: 39.5em;
                    background: #f1f1f1;
                    margin: 0 0 1.2em 0;
                    .photo-wrap {
                        width: 36em;
                        height: 36.6em;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        overflow: hidden;
                        transition: all 0.3s linear;
                    }
                }
                &:hover {
                    .trainer-photo {
                        .photo-wrap {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .name {
                    font-size: 3.2em;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin: 0em 0 0 0.7em;
                    line-height: 1.4;
                }
                .details {
                    font-size: 2em;
                    margin: 0.9em 0 0 1.2em;
                    line-height: 1.4;
                }
            }
            .column:first-child {
            }
            .column:last-child {
            }
        }
        .columns.columns--trainers {
            margin-bottom: 0;
        }
        .columns.columns--prices {
            margin-top: 0;

            .column.column--price {
                width: 33.333333%;
                display: inline-block;
                flex: none;
                border-left: 0.01em solid #333;
                border-top: 0.01em solid #333;
                padding: 0.55em 0 1.05em 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3.6em;
            }
        }
        .set {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.4em;
            font-weight: 700;
            margin: 0 0 0.3em 0;
            text-transform: uppercase;
            color: #cd1719;
            padding: 1em 0 0.8em;
        }
    }
}
