.where {
    padding: 4em 0 0 0;
    .container {
        .section-title {
            margin: 0 0 0 3.55em;
            &::after {
                position: absolute;
                display: block;
                content: "";
                height: 0.047em;
                width: 100vw;
                background-color: #cd1719;
                left: -30.45em;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .container.container--wide {
        .map-wrap {
            margin: 8em 0 0 0;
            height: 58.2em;
        }
    }
}
